.card-container {
  margin: 1rem;
  width: 22rem;
  background-color: #fff;
  border-radius: 10px;
}
.card-img {
  width: 22rem;
  height: 11rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.item-name {
  font-weight: 600;
}
.card-footer {
  padding: 8px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.down-arrow {
  transform: rotate(90deg);
}
