* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(243, 243, 243);
}
.app {
  width: 80%;
  margin: 1.2rem auto;
}
.flex {
  display: flex;
}
.js-spce-btwn {
  justify-content: space-between;
}
.padding-1rem {
  padding: 1rem;
}
.padding-10px {
  padding: 10px;
}
.padding-btm-5px {
  padding-bottom: 5px;
}
